node-red-flows/dcim_flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "tab-auth",
        "type": "tab",
        "label": "🔐 Auth & Security",
        "disabled": false
    },
    {
        "id": "tab-power",
        "type": "tab",
        "label": "⚡ Power System",
        "disabled": false
    },
    {
        "id": "tab-cooling",
        "type": "tab",
        "label": "❄️ Cooling System",
        "disabled": false
    },
    {
        "id": "tab-safety",
        "type": "tab",
        "label": "🛡️ Safety & Security",
        "disabled": false
    },
    {
        "id": "tab-influx",
        "type": "tab",
        "label": "🗄️ InfluxDB Writer",
        "disabled": false
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject-init",
        "type": "inject",
        "z": "tab-auth",
        "name": "Initialize on Start",
        "repeat": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "fn-init-users"
            ]
        ]
    },
    {
        "id": "fn-init-users",
        "type": "function",
        "z": "tab-auth",
        "name": "Setup Users & Sessions",
        "func": "const crypto = global.get('crypto');\nfunction hashPassword(p, s) { return crypto.createHash('sha256').update(p + s).digest('hex'); }\nif (!global.get('dcim_users')) {\n    const aS = crypto.randomBytes(16).toString('hex');\n    const tS = crypto.randomBytes(16).toString('hex');\n    global.set('dcim_users', {\n        'admin': { username:'admin', displayName:'System Administrator', role:'ADMIN', salt:aS, passwordHash:hashPassword('Admin@DCIM2024!',aS), failedAttempts:0 },\n        'technician': { username:'technician', displayName:'DC Technician', role:'USER', salt:tS, passwordHash:hashPassword('Tech@DCIM2024!',tS), failedAttempts:0 }\n    });\n    node.warn('✅ Users initialized');\n}\nif (!global.get('dcim_sessions')) global.set('dcim_sessions', {});\nif (!global.get('audit_log')) global.set('audit_log', []);\nif (!global.get('cooling_thresholds')) global.set('cooling_thresholds', { inletTempWarning:24.0, inletTempCritical:27.0, humidityLow:30, humidityHigh:65 });\nmsg.payload = { status:'initialized' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "debug-init"
            ]
        ]
    },
    {
        "id": "debug-init",
        "type": "debug",
        "z": "tab-auth",
        "name": "Init Status",
        "active": true,
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "http-login",
        "type": "http in",
        "z": "tab-auth",
        "name": "POST /api/auth/login",
        "url": "/api/auth/login",
        "method": "post",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "fn-login"
            ]
        ]
    },
    {
        "id": "fn-login",
        "type": "function",
        "z": "tab-auth",
        "name": "Validate Login",
        "func": "const crypto = global.get('crypto');\nconst body = msg.payload;\nif (!body || !body.username || !body.password) { msg.statusCode=400; msg.payload={success:false,error:'Username and password required'}; return msg; }\nconst users = global.get('dcim_users') || {};\nconst user = users[body.username.toLowerCase()];\nconst auditLog = global.get('audit_log') || [];\nif (!user) {\n    auditLog.unshift({timestamp:new Date().toISOString(),event:'LOGIN_FAILED',username:body.username,ip:msg.req.ip||'unknown',reason:'User not found'});\n    global.set('audit_log',auditLog);\n    msg.statusCode=401; msg.payload={success:false,error:'Invalid credentials'}; return msg;\n}\nif (user.lockedUntil && Date.now()<user.lockedUntil) {\n    msg.statusCode=423; msg.payload={success:false,error:`Account locked. Try again in ${Math.ceil((user.lockedUntil-Date.now())/60000)} minutes.`}; return msg;\n}\nconst hash = crypto.createHash('sha256').update(body.password+user.salt).digest('hex');\nif (hash !== user.passwordHash) {\n    user.failedAttempts=(user.failedAttempts||0)+1;\n    if (user.failedAttempts>=5) user.lockedUntil=Date.now()+(15*60*1000);\n    users[body.username.toLowerCase()]=user;\n    global.set('dcim_users',users);\n    auditLog.unshift({timestamp:new Date().toISOString(),event:'LOGIN_FAILED',username:body.username,ip:msg.req.ip||'unknown',reason:'Wrong password'});\n    global.set('audit_log',auditLog);\n    msg.statusCode=401; msg.payload={success:false,error:'Invalid credentials'}; return msg;\n}\nuser.failedAttempts=0; user.lockedUntil=null;\nusers[body.username.toLowerCase()]=user;\nglobal.set('dcim_users',users);\nconst token=crypto.randomBytes(32).toString('hex');\nconst session={token,username:user.username,role:user.role,displayName:user.displayName,createdAt:Date.now(),expiresAt:Date.now()+(15*60*1000),lastActivity:Date.now(),ip:msg.req.ip||'unknown'};\nconst sessions=global.get('dcim_sessions')||{};\nsessions[token]=session;\nglobal.set('dcim_sessions',sessions);\nauditLog.unshift({timestamp:new Date().toISOString(),event:'LOGIN_SUCCESS',username:user.username,role:user.role,ip:msg.req.ip||'unknown'});\nif (auditLog.length>500) auditLog.pop();\nglobal.set('audit_log',auditLog);\nmsg.statusCode=200; msg.payload={success:true,token,role:user.role,displayName:user.displayName,expiresAt:session.expiresAt};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "http-login-resp"
            ]
        ]
    },
    {
        "id": "http-login-resp",
        "type": "http response",
        "z": "tab-auth",
        "name": "Login Response",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "http-logout",
        "type": "http in",
        "z": "tab-auth",
        "name": "POST /api/auth/logout",
        "url": "/api/auth/logout",
        "method": "post",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "fn-logout"
            ]
        ]
    },
    {
        "id": "fn-logout",
        "type": "function",
        "z": "tab-auth",
        "name": "Logout",
        "func": "const token=msg.req.headers['x-auth-token']||(msg.payload&&msg.payload.token);\nif (token) {\n    const sessions=global.get('dcim_sessions')||{};\n    const session=sessions[token];\n    if (session) {\n        const auditLog=global.get('audit_log')||[];\n        auditLog.unshift({timestamp:new Date().toISOString(),event:'LOGOUT',username:session.username,ip:msg.req.ip||'unknown'});\n        global.set('audit_log',auditLog);\n        delete sessions[token];\n        global.set('dcim_sessions',sessions);\n    }\n}\nmsg.statusCode=200; msg.payload={success:true};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 260,
        "wires": [
            [
                "http-logout-resp"
            ]
        ]
    },
    {
        "id": "http-logout-resp",
        "type": "http response",
        "z": "tab-auth",
        "name": "Logout Response",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "http-metrics",
        "type": "http in",
        "z": "tab-auth",
        "name": "GET /api/metrics/all",
        "url": "/api/metrics/all",
        "method": "get",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "fn-metrics"
            ]
        ]
    },
    {
        "id": "fn-metrics",
        "type": "function",
        "z": "tab-auth",
        "name": "Aggregate Metrics",
        "func": "const token=msg.req.headers['x-auth-token'];\nconst sessions=global.get('dcim_sessions')||{};\nconst session=sessions[token];\nif (!session||Date.now()>session.expiresAt) { msg.statusCode=401; msg.payload={error:'Authentication required'}; return msg; }\nsession.expiresAt=Date.now()+(15*60*1000);\nsession.lastActivity=Date.now();\nsessions[token]=session;\nglobal.set('dcim_sessions',sessions);\nconst power=global.get('power_state')||{};\nconst cooling=global.get('cooling_state')||{};\nconst safety=global.get('safety_state')||{};\nconst allAlerts=[...(global.get('power_alerts')||[]),...(global.get('cooling_alerts')||[]),...(global.get('safety_alerts')||[])];\nconst criticalCount=allAlerts.filter(a=>a.level==='CRITICAL'||a.level==='EMERGENCY').length;\nconst warningCount=allAlerts.filter(a=>a.level==='WARNING').length;\nlet healthStatus='NOMINAL';\nif (criticalCount>0) healthStatus='CRITICAL';\nelse if (warningCount>0) healthStatus='DEGRADED';\nmsg.statusCode=200;\nmsg.payload={meta:{collectedAt:new Date().toISOString(),requestedBy:session.username,role:session.role,healthStatus,alertSummary:{critical:criticalCount,warning:warningCount,total:allAlerts.length}},power,cooling,safety,alerts:allAlerts,auditLog:session.role==='ADMIN'?(global.get('audit_log')||[]).slice(0,20):undefined};\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "http-metrics-resp"
            ]
        ]
    },
    {
        "id": "http-metrics-resp",
        "type": "http response",
        "z": "tab-auth",
        "name": "Metrics Response",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "http-control",
        "type": "http in",
        "z": "tab-auth",
        "name": "POST /api/control",
        "url": "/api/control",
        "method": "post",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "fn-control"
            ]
        ]
    },
    {
        "id": "fn-control",
        "type": "function",
        "z": "tab-auth",
        "name": "RBAC Control Admin Only",
        "func": "const token=msg.req.headers['x-auth-token'];\nconst sessions=global.get('dcim_sessions')||{};\nconst session=sessions[token];\nif (!session||Date.now()>session.expiresAt) { msg.statusCode=401; msg.payload={error:'Auth required'}; return msg; }\nif (session.role!=='ADMIN') {\n    const auditLog=global.get('audit_log')||[];\n    auditLog.unshift({timestamp:new Date().toISOString(),event:'UNAUTHORIZED_ACCESS',username:session.username,action:msg.payload.action,device:msg.payload.device});\n    global.set('audit_log',auditLog);\n    msg.statusCode=403; msg.payload={error:'Admin role required'}; return msg;\n}\nconst auditLog=global.get('audit_log')||[];\nauditLog.unshift({timestamp:new Date().toISOString(),event:'ADMIN_CONTROL_ACTION',username:session.username,action:msg.payload.action,device:msg.payload.device});\nglobal.set('audit_log',auditLog);\nconst controls=global.get('device_controls')||{};\ncontrols[msg.payload.device]={state:msg.payload.action,setBy:session.username,setAt:new Date().toISOString()};\nglobal.set('device_controls',controls);\nmsg.statusCode=200;\nmsg.payload={success:true,message:`${msg.payload.device} ${msg.payload.action} by ${session.username}`,timestamp:new Date().toISOString()};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 460,
        "wires": [
            [
                "http-control-resp"
            ]
        ]
    },
    {
        "id": "http-control-resp",
        "type": "http response",
        "z": "tab-auth",
        "name": "Control Response",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "http-dashboard",
        "type": "http in",
        "z": "tab-auth",
        "name": "GET /",
        "url": "/",
        "method": "get",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "fn-serve-dashboard"
            ]
        ]
    },
    {
        "id": "fn-serve-dashboard",
        "type": "function",
        "z": "tab-auth",
        "name": "Serve Dashboard",
        "func": "const fs = global.get('fs');\ntry {\n    msg.payload = fs.readFileSync('/data/dashboard.html', 'utf8');\n    msg.headers = {'Content-Type': 'text/html'};\n    msg.statusCode = 200;\n} catch(e) {\n    msg.payload = 'Error: ' + e.message;\n    msg.statusCode = 404;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 520,
        "wires": [
            [
                "http-dashboard-resp"
            ]
        ]
    },
    {
        "id": "http-dashboard-resp",
        "type": "http response",
        "z": "tab-auth",
        "name": "Dashboard Response",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "inject-power",
        "type": "inject",
        "z": "tab-power",
        "name": "Power Tick 5s",
        "repeat": "5",
        "once": true,
        "onceDelay": 1,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "fn-power-sim"
            ]
        ]
    },
    {
        "id": "fn-power-sim",
        "type": "function",
        "z": "tab-power",
        "name": "Power Simulator",
        "func": "const prev=global.get('power_state')||{itLoad:45.0,upsStatus:'On_Mains',batteryCapacity:98.5,tick:0};\nconst tick=prev.tick+1;\nlet upsStatus=prev.upsStatus;\nconst roll=Math.random();\nif (roll>0.998) upsStatus=upsStatus==='On_Mains'?'On_Battery':'On_Mains';\nelse if (roll>0.9995&&upsStatus==='On_Mains') upsStatus='On_Bypass';\nconst timeOfDay=(Date.now()/3600000)%24;\nconst noise=(Math.random()-0.5)*0.8;\nconst itLoad=Math.max(35,Math.min(60,prev.itLoad+noise));\nlet batteryCapacity=prev.batteryCapacity;\nif (upsStatus==='On_Battery') batteryCapacity=Math.max(0,batteryCapacity-0.5);\nelse batteryCapacity=Math.min(100,batteryCapacity+0.1);\nconst pduA=itLoad*0.51+(Math.random()-0.5)*0.3;\nconst pduB=itLoad*0.49+(Math.random()-0.5)*0.3;\nconst coolingPower=itLoad*0.38+2.5;\nconst totalFacilityPower=itLoad+coolingPower+3.2;\nconst pue=totalFacilityPower/itLoad;\nconst upsLoadPercent=Math.round((itLoad/80)*100);\nconst state={itLoad:parseFloat(itLoad.toFixed(2)),totalFacilityPower:parseFloat(totalFacilityPower.toFixed(2)),coolingPower:parseFloat(coolingPower.toFixed(2)),upsStatus,batteryCapacity:parseFloat(batteryCapacity.toFixed(1)),upsLoadPercent,pduA_kW:parseFloat(pduA.toFixed(2)),pduB_kW:parseFloat(pduB.toFixed(2)),pue:parseFloat(pue.toFixed(3)),pueRating:pue<1.2?'EXCELLENT':pue<1.5?'GOOD':pue<1.8?'AVERAGE':'POOR',timestamp:new Date().toISOString(),tick};\nglobal.set('power_state',state);\nconst alerts=[];\nif (upsStatus==='On_Battery') alerts.push({level:'CRITICAL',code:'UPS_ON_BATTERY',message:`UPS on battery! ${batteryCapacity}%`});\nif (batteryCapacity<20) alerts.push({level:'CRITICAL',code:'LOW_BATTERY',message:`Low battery: ${batteryCapacity}%`});\nif (pue>2.0) alerts.push({level:'WARNING',code:'HIGH_PUE',message:`PUE ${pue} exceeds target`});\nglobal.set('power_alerts',alerts);\nmsg.payload=state; msg.topic='power'; return msg;",
        "outputs": 1,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "link-influx-power"
            ]
        ]
    },
    {
        "id": "link-influx-power",
        "type": "link out",
        "z": "tab-power",
        "name": "→ InfluxDB",
        "links": [
            "link-in-power"
        ],
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject-cooling",
        "type": "inject",
        "z": "tab-cooling",
        "name": "Cooling Tick 10s",
        "repeat": "10",
        "once": true,
        "onceDelay": 2,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "fn-cooling-sim"
            ]
        ]
    },
    {
        "id": "fn-cooling-sim",
        "type": "function",
        "z": "tab-cooling",
        "name": "Cooling Simulator",
        "func": "const prev=global.get('cooling_state')||{inletTemp:22.5,humidity:45.0,crac1Status:'RUNNING',crac2Status:'STANDBY',tick:0};\nconst tick=prev.tick+1;\nconst itLoad=(global.get('power_state')||{itLoad:45}).itLoad;\nconst loadFactor=(itLoad-35)/25;\nlet crac1Status=prev.crac1Status;\nlet crac2Status=prev.crac2Status;\nif (prev.inletTemp>24.0&&crac2Status==='STANDBY') crac2Status='RUNNING';\nelse if (prev.inletTemp<22.0&&crac2Status==='RUNNING') crac2Status='STANDBY';\nconst cracCorrection=crac1Status==='RUNNING'?-0.15:0;\nconst crac2Correction=crac2Status==='RUNNING'?-0.1:0;\nconst inletTemp=Math.max(18,Math.min(35,prev.inletTemp+loadFactor*0.08+cracCorrection+crac2Correction+(Math.random()-0.5)*0.05));\nconst hotColdAisleDelta=10+loadFactor*8;\nconst returnTemp=inletTemp+hotColdAisleDelta;\nconst humidity=Math.max(30,Math.min(70,prev.humidity+(Math.random()-0.5)*0.3));\nconst state={inletTemp:parseFloat(inletTemp.toFixed(2)),returnTemp:parseFloat(returnTemp.toFixed(2)),hotColdAisleDelta:parseFloat(hotColdAisleDelta.toFixed(1)),humidity:parseFloat(humidity.toFixed(1)),crac1Status,crac2Status,ashrae_compliant:inletTemp>=15&&inletTemp<=27,ashrae_class:inletTemp<=27?'A1/A2':inletTemp<=35?'A3':'EXCEEDED',timestamp:new Date().toISOString(),tick};\nglobal.set('cooling_state',state);\nconst th=global.get('cooling_thresholds')||{inletTempWarning:24.0,inletTempCritical:27.0,humidityLow:30,humidityHigh:65};\nconst alerts=[];\nif (inletTemp>=th.inletTempCritical) alerts.push({level:'CRITICAL',code:'TEMP_CRITICAL',message:`Inlet CRITICAL: ${inletTemp}°C`});\nelse if (inletTemp>=th.inletTempWarning) alerts.push({level:'WARNING',code:'TEMP_WARNING',message:`Inlet elevated: ${inletTemp}°C`});\nif (humidity<th.humidityLow) alerts.push({level:'WARNING',code:'HUMIDITY_LOW',message:`Humidity low: ${humidity}%RH`});\nif (humidity>th.humidityHigh) alerts.push({level:'WARNING',code:'HUMIDITY_HIGH',message:`Humidity high: ${humidity}%RH`});\nglobal.set('cooling_alerts',alerts);\nmsg.payload=state; msg.topic='cooling'; return msg;",
        "outputs": 1,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "link-influx-cooling"
            ]
        ]
    },
    {
        "id": "link-influx-cooling",
        "type": "link out",
        "z": "tab-cooling",
        "name": "→ InfluxDB",
        "links": [
            "link-in-cooling"
        ],
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject-safety",
        "type": "inject",
        "z": "tab-safety",
        "name": "Safety Tick 15s",
        "repeat": "15",
        "once": true,
        "onceDelay": 3,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "fn-safety-sim"
            ]
        ]
    },
    {
        "id": "fn-safety-sim",
        "type": "function",
        "z": "tab-safety",
        "name": "Safety Simulator",
        "func": "const prev=global.get('safety_state')||{rackDoor:{},tick:0};\nconst tick=prev.tick+1;\nconst waterLeak=Math.random()>0.999;\nconst smokeDetector=Math.random()>0.9995;\nconst fireAlarm=smokeDetector&&Math.random()>0.3;\nconst rackDoors={'RACK-A01':prev.rackDoor['RACK-A01']||'CLOSED','RACK-A02':prev.rackDoor['RACK-A02']||'CLOSED','RACK-B01':prev.rackDoor['RACK-B01']||'CLOSED','RACK-B02':prev.rackDoor['RACK-B02']||'CLOSED','PDU-RACK':prev.rackDoor['PDU-RACK']||'CLOSED','NET-RACK':prev.rackDoor['NET-RACK']||'CLOSED'};\nif (Math.random()>0.95){const keys=Object.keys(rackDoors);const r=keys[Math.floor(Math.random()*keys.length)];rackDoors[r]=rackDoors[r]==='CLOSED'?'OPEN':'CLOSED';}\nconst openDoors=Object.entries(rackDoors).filter(([k,v])=>v==='OPEN').map(([k])=>k);\nconst state={waterLeak,fireAlarm,smokeDetector,rackDoor:rackDoors,openDoorCount:openDoors.length,openDoors,generatorStatus:'STANDBY',halon_system:'ARMED',timestamp:new Date().toISOString(),tick};\nglobal.set('safety_state',state);\nconst alerts=[];\nif (fireAlarm) alerts.push({level:'EMERGENCY',code:'FIRE_ALARM',message:'🔥 FIRE ALARM!'});\nif (smokeDetector) alerts.push({level:'CRITICAL',code:'SMOKE',message:'💨 Smoke detected!'});\nif (waterLeak) alerts.push({level:'CRITICAL',code:'WATER_LEAK',message:'💧 Water leak!'});\nif (openDoors.length>2) alerts.push({level:'WARNING',code:'DOORS_OPEN',message:`${openDoors.length} rack doors open`});\nglobal.set('safety_alerts',alerts);\nmsg.payload=state; msg.topic='safety'; return msg;",
        "outputs": 1,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "link-influx-safety"
            ]
        ]
    },
    {
        "id": "link-influx-safety",
        "type": "link out",
        "z": "tab-safety",
        "name": "→ InfluxDB",
        "links": [
            "link-in-safety"
        ],
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "link-in-power",
        "type": "link in",
        "z": "tab-influx",
        "name": "← Power",
        "links": [
            "link-influx-power"
        ],
        "x": 120,
        "y": 80,
        "wires": [
            [
                "fn-fmt-power"
            ]
        ]
    },
    {
        "id": "fn-fmt-power",
        "type": "function",
        "z": "tab-influx",
        "name": "Format Power",
        "func": "const d=msg.payload;const ts=Math.floor(Date.now()/1000);msg.payload=[`dcim_power,site=DC1,subsystem=ups ups_battery=${d.batteryCapacity},load_pct=${d.upsLoadPercent} ${ts}`,`dcim_power,site=DC1,subsystem=pdu pdu_a=${d.pduA_kW},pdu_b=${d.pduB_kW},it_load=${d.itLoad} ${ts}`,`dcim_power,site=DC1,subsystem=facility total=${d.totalFacilityPower},cooling=${d.coolingPower},pue=${d.pue} ${ts}`].join('\\n');msg.headers={'Content-Type':'text/plain; charset=utf-8'};return msg;",
        "outputs": 1,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "http-influx"
            ]
        ]
    },
    {
        "id": "link-in-cooling",
        "type": "link in",
        "z": "tab-influx",
        "name": "← Cooling",
        "links": [
            "link-influx-cooling"
        ],
        "x": 120,
        "y": 180,
        "wires": [
            [
                "fn-fmt-cooling"
            ]
        ]
    },
    {
        "id": "fn-fmt-cooling",
        "type": "function",
        "z": "tab-influx",
        "name": "Format Cooling",
        "func": "const d=msg.payload;const ts=Math.floor(Date.now()/1000);msg.payload=[`dcim_cooling,site=DC1,sensor=inlet value=${d.inletTemp} ${ts}`,`dcim_cooling,site=DC1,sensor=return value=${d.returnTemp} ${ts}`,`dcim_cooling,site=DC1,sensor=humidity value=${d.humidity} ${ts}`,`dcim_cooling,site=DC1,sensor=delta value=${d.hotColdAisleDelta} ${ts}`].join('\\n');msg.headers={'Content-Type':'text/plain; charset=utf-8'};return msg;",
        "outputs": 1,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "http-influx"
            ]
        ]
    },
    {
        "id": "link-in-safety",
        "type": "link in",
        "z": "tab-influx",
        "name": "← Safety",
        "links": [
            "link-influx-safety"
        ],
        "x": 120,
        "y": 280,
        "wires": [
            [
                "fn-fmt-safety"
            ]
        ]
    },
    {
        "id": "fn-fmt-safety",
        "type": "function",
        "z": "tab-influx",
        "name": "Format Safety",
        "func": "const d=msg.payload;const ts=Math.floor(Date.now()/1000);msg.payload=[`dcim_safety,site=DC1,sensor=water_leak value=${d.waterLeak?1:0} ${ts}`,`dcim_safety,site=DC1,sensor=fire value=${d.fireAlarm?1:0} ${ts}`,`dcim_safety,site=DC1,sensor=smoke value=${d.smokeDetector?1:0} ${ts}`,`dcim_safety,site=DC1,sensor=doors value=${d.openDoorCount} ${ts}`].join('\\n');msg.headers={'Content-Type':'text/plain; charset=utf-8'};return msg;",
        "outputs": 1,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "http-influx"
            ]
        ]
    },
    {
        "id": "http-influx",
        "type": "http request",
        "z": "tab-influx",
        "name": "Write InfluxDB",
        "method": "POST",
        "ret": "txt",
        "url": "http://influxdb:8086/api/v2/write?org=mtechlabs&bucket=dcim&precision=s",
        "authType": "bearer",
        "x": 560,
        "y": 180,
        "wires": [
            []
        ]
    }
]